{% extends 'base.html.twig' %}

{% block title %}Tax Configuration{% endblock %}

{% block body %}
    <h3 class="title">Set up alliance member taxing:</h3>
    <div class="columns is-centered">
        <div class="column is-half-desktop" style="text-align:center">
            <img src="https://image.eveonline.com/Alliance/{{alliance_id}}_128.png" alt="Alliance Logo">
            <p>
                Alliance: {{alliance_name}}
            </p>
            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}
